.collapse {
    display: flex;
    flex-direction: column;
    width: 100%;

    .collapse-head {
        background-color: #ff6060;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px 0px 10px;
        border-radius: 5px;

        h4 {
            color: white;
            font-size: 18px;
            font-weight: 500;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        img {
            width: 24px;
            height: 13.71px;
        }

        .open {
            transition: transform 0.5s;
            transform: rotate(-180deg);
        }

        .close {
            transition: transform 0.5s;
            transform: rotate(0deg);
        }

    }


    #collapse-txt {
        font-size: 18px;
        padding-left: 15px;
        padding-right: 15px;
        margin: none;
        text-justify: auto;
        background-color: aqua;

    }

    .txt-open {
        max-height: 500px;
        transition: max-height 500ms ease-in;
    }

    .txt-close {
        max-height: 0;
        overflow: hidden;
        transition: max-height 400ms ease-out;
    }
}