header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    max-width: 1240px;
    margin-top: 20px;

    .menu {
        display: flex;
        gap: 30px;
        text-decoration: none;

        .none {
            color: black;
            text-decoration: none;
        }

        .underline {
            color: black;
            text-decoration: underline;
        }
    }
}