.info-logement {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    width: 90vw;

    .logement-container-left {
        display: flex;
        gap: 22px;
        flex-direction: column;


        .head {
            font-family: 'Montserrat';

            .title {
                font-size: 36px;
                margin: 0;
                color: #ff6060;
                font-weight: 500;
            }

            .location {
                font-size: 18px;
                margin: 0;
                font-weight: 500;
            }
        }

        .tags {
            display: flex;
            gap: 10px;
            max-width: 90vw;

            div {
                background-color: #ff6060;
                border-radius: 10px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 5px;
                padding-top: 5px;
                text-align: center;
                color: white;
            }
        }


    }

    .logement-container-right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 5px;


        .host {
            display: flex;
            gap: 10px;
            align-items: center;

            .host-name {
                text-align: end;
                margin: 0;
            }

            .host-pic {
                border-radius: 50px;
                width: 64px;
                height: 64px;
            }
        }
    }
}

.logement-container-collapse {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    max-width: 1240px;
    width: 90vw;

    .collapse {
        width: 45%;
    }
}




/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .info-logement {
        flex-direction: column;
        gap: 5px;

        .logement-container-left {
            .tags {
                flex-wrap: wrap;
            }
        }

        .logement-container-right {
            flex-direction: row-reverse;
            align-items: center;
        }
    }

    .logement-container-collapse {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;

        .collapse {
            width: 100%;
            max-width: 90vw;
        }
    }
}